:root {
    --color-primary: #48A6A7;
    /* --color-secondary: #F2EFE7; */
    --color-secondary: #ede7dc;
    --color-tertiary: #FD8B51;
    --color-button: #FD8B51;
    --color-button-hover: #02a698;
    --color-text: #fafafa;
    --color-text-secondary: #48A6A7;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.header-banner img {
    position: relative;
    z-index: -1;
    width: 450px;
    height: 273px;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-text);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-text-secondary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    margin-bottom: 15px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 15px;
}

.button-add {
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-button-hover);
    transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 15px;
    border: #000 2px solid;
    border-radius: 20px;
    background-color: var(--color-primary);
}

.button-remove {
    margin-left: 10px;
    color: var(--color-text);
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    padding: 15px 0 0 0;
}

.button-remove:hover {
    color: red;
}

.result-list {
    margin-top: 15px;
    color: #4DA1A9;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: line;
}

#apresentacao {
    margin-right: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#resultado-amigo {
    color: #FD8B51;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
    transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
}

.button-reset {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-reset:hover {
    background-color: var(--color-button-hover);
    transition: background-color 0.3s ease;
}

.button-reset img {
    margin-right: 40px;
    width: 35px;
    height: 35px;
}

/* Rodapé */
.footer {
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 0 0 64px 64px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 1px;
}

.footer p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--color-primary);
}

.footer a {
    color: var(--color-tertiary);
    text-decoration: none;
}

/* Estilos para telas menores (celulares) */
@media (max-width: 768px) {
    body {
        justify-content: flex-start;
    }

    .main-content {
        width: 100%;
    }

    .header-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0;
    }

    .header-banner img {
        width: 100%;
        height: auto;
    }

    .section-title {
        font-size: 28px;
    }

    .result-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        font-size: 14px;
    }
}